<div class="container mx-auto max-w-sm p-8 flex flex-col items-center text-center">
  <img class="rounded-full mt-12 w-96 sm:w-4/5 shadow-lg border-4 border-white" src="/images/browsertown.jpg" alt="Guy Fieri wearing glasses that look like the Google Chrome icon, shouting 'Welcome to Browser Town, baby!!'">
  <h1 class="font-sans my-8">Welcome to Browser Town, baby!</h1>
</div>
